<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <% allCountries.forEach(country => { %>
            <h3>Country: <%= country.name %>, <%= country.countryCode %> </h3>
            <p>Total Confirmed Cases: <%= country.totalConfirmed %> </p>
            <p>Total Death Cases: <%= country.totalDeaths %> </p>
            <p>Total Recovered Cases: <%= country.totalRecovered %> </p>
            <p>Date: <%= country.date %> </p>
            <form action="/myRecords" method = "POST">
                <input type="hidden" name = 'countryData' value = '<%= JSON.stringify(country) %>'>
                <button>ADD TO MY RECORDS</button>
            </form>
        <% }) %>
    </main>
</body>
</html>