<%- include('../partials/header') %>
    <main>
        <section class = 'container'>
            <% allCountries.forEach(country => { %>
                <section class = 'cards'>
                    <h3>Country: <%= country.name %>, <%= country.countryCode %> </h3>
                    <p>Total Confirmed Cases: <%= country.totalConfirmed %> </p>
                    <p>Total Death Cases: <%= country.totalDeaths %> </p>
                    <p>Total Recovered Cases: <%= country.totalRecovered %> </p>
                    <p>Date: <%= country.date %> </p>
                    <form action="/myRecords" method = "POST">
                        <input type="hidden" name = 'countryData' value = '<%= JSON.stringify(country) %>'>
                        <button>ADD TO MY RECORDS</button>
                    </form>
                </section>
            <% }) %>
        </section>
        
    </main>
</body>
</html>