<%- include('../partials/header') %>
    <main>
        <h3>Country: <%= record.country %></h3>
        <p>Total Confirmed Cases: <%= record.totalconfirmed %> </p>
        <p>Total Death Cases: <%= record.totaldeaths %> </p>
        <p>Total Recovered Cases: <%= record.totalrecovered %> </p>
        <p>Date: <%= record.date %> </p>
        <form action="/myRecords/<%= record.id %>?_method=DELETE" method = "POST">
            <button>Delete</button>
        </form>
    </main>
</body>
</html>